.Infos h3 {
    color: #FF5600;
    font-size: 3em;
}

.DivProduct .Infos p {
    color: #B1B1B1;
    font-size: 1em;
    margin: 5px 0;
}

.DivProduct .Infos span {
    display: block;
    margin-top: 10px;
    font-size: 2em;
    color: #FF5600;
}