.CurrentCart {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: -2vh auto;
    font-family: 'Petrona';
    text-transform: uppercase;
    color: #FF5600;
}
    .CurrentCart .CartProducts {
        margin-right: 2vw;
        margin-top: 2vh;
    }
    .CurrentCart .CartProducts h3 {
        color: #FF5600;
        font-size: 1.5em;
    }
    .CurrentCart .CartProducts p {
        color: #B1B1B1;
        font-size: 0.8em;
        margin: 5px 0;
    }
    .CurrentCart .CartProducts span {
        display: block;
        margin-top: 10px;
        font-size: 1em;
        color: #FF5600;
    }

@media (max-width: 768px) {
    .CurrentCart {
        width: 85%;
        margin-left: 15vw;
    }
}