.App-Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FF5600;
    padding: 5px 20px;
    border-bottom: 1px solid #ff550077;
}
    .App-Header h1 {
        font-family: 'Ribeye';
    }
    .App-Header nav {
        width: 30%;
        font-family: 'Petrona';
    }
    .App-Header nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    .App-Header nav ul li {
        padding: 1rem 0;
    }
    .App-Header nav ul li:hover {
        cursor: pointer;
        box-shadow: 0px 1px 1px 0px #324a64;
    }

.Cover {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 20, 41, 0.5), rgba(0, 20, 41, 0.5)), url(./assets/images/burger.jpg);
    background-size: cover;
}
    .Cover h2 {
        color: #fff;
        font-size: 8em;
        font-family: 'Petrona';
        font-weight: 500;
        text-transform: uppercase;
    }

    .Tools {
        width: 80%;
        margin: 3vw auto;
        display: flex;
        justify-content: space-between;
        display: flex;
    }

    .Tools .Cart .BtnCart {
        padding: 0.5rem 0.7rem;
        border: 1px solid #FF5600;
        color: #FF5600;
        background-color: transparent;
        border-radius: 50px;
    } 
        .Tools .Cart .BtnCart:hover {
            box-shadow: 0px 0px 7px 0px #324a64;
        } 
    .Tools .Cart span {
        font-family: 'Petrona';
        font-size: 1.5em;
        color: #FF5600;
        font-weight: 800;
        margin-left: 1vw;
        margin-top: 2vh;
    }

    .Tools .SearchBar {
        display: flex;
        align-items: center;
    }

    .Tools .SearchBar input {
        width: 20vw;
        padding: 0.5rem;
        border: none;
        text-transform: capitalize;
    }
    .Tools .SearchBar button {
        height: 31px;
        border: none;
        border-left: 1px solid #00142970;
        padding: 0 0.2rem;
        background-color: #fff;
    }
        .Tools .SearchBar button:hover {
            cursor: pointer;
        }

footer {
    height: 8vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Petrona';
    color: #B1B1B1;
    border-top: 1px solid #ff550077;
}
    footer .DevSocial a {
        color: #B1B1B1;
        margin: 0 0.5vw;
    }

@media (max-width: 768px) {
    .App-Header nav ul li {
        display: none;
    }
    .App-Header nav ul li.MobileNav {
        display: block;
    }
    .App-Header nav .MobileNav .tr {
        width: 30px;
        height: 4px;
        margin: 5px;
        margin-left: 25vw;
        background-color: #FF5600;
    }
    .Tools .SearchBar {
        margin-top: 2vh;
        align-self: flex-start;
    }
        .Tools .SearchBar input {
            width: 30vw;
        }
}

@media (max-width: 635px) {
    .Tools .Cart {
        display: flex;
        flex-direction: column;
    }
        .Tools .Cart .BtnCart {
            width: 50px;
            font-size: 16px;
            background-color: transparent;
            border-radius: 50px;
        } 
}

@media (max-width: 475px) {
    .App-Header {
        padding: 0 20px;
    }
        .App-Header h1 {
            font-size: 1.5em;
        }

    .Cover h2 {
        font-size: 5em;
    }

    .Tools .Cart span {
        font-size: 1.2em;
    }
    .Tools .Cart .BtnCart {
        font-size: small;
    } 
}

@media (max-width: 389px) {
    .Tools .Cart span {
        font-size: 0.9em;
    }
}